[Unit]
Description=vmspawnd API Socket
Documentation=https://github.com/ssahani/vmspawn

[Socket]
ListenStream=9095
BindIPv6Only=both
Accept=no
NoDelay=yes

[Install]
WantedBy=sockets.target
