#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	$(MAKE) build

override_dh_auto_install:
	$(MAKE) DESTDIR=debian/tmp install

override_dh_auto_test:

override_dh_installsystemd:
	dh_installsystemd --name=zyvor-fabricd
